<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../1.x/lib/angular-1.4.3/angular.min.js"></script>
</head>
<body>

	<h3>Hello <span contenteditable="true">{{str || 'World'}}</span></h3>
	<input type="text" ng-model="str" placeholder="{{str2 || 'control h3'}}" value="{{str2}}">
	<p>{{str2}}</p>
	<input type="text" placeholder="Say somethings" value="{{str2}}">
	<input type="text" ng-model="str2" placeholder="Say somethings">
</body>
</html>