<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<title>Todo lsit</title>
	<script src="../1.x/lib/angular-1.4.3/angular.min.js"></script>
	<style>
	.done-true {
		text-decoration: line-through;
		color: grey;
	}
	</style>
</head>
<body>
	<h2>Todo</h2>
	<div ng-controller="TodoListController as todoList">
		<span>{{todoList.remaining()}} of {{todoList.todos.length}}</span>
		[<a href="" ng-click="todoList.archive()">archive</a>]

		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form ng-submit="todoList.addTodo()">
			<input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo herer">
			<input type="submit" class="btn-primary" value="add">
		</form>
	</div>
</body>
<script>
angular.module('todoApp',[]).controller('TodoListController', function() {
	var todoList = this;
	todoList.todos = [
		{text:'Learn AngularJs', done:true},
		{text:'Build an app', done:false}
	];

	todoList.remaining = function() {
		var count = 0;
		angular.forEach(todoList.todos, function(todo) {
			console.log(todoList.todos)
			count += todo.done ? 0: 1;
		})
		return count;
	}

	todoList.addTodo = function() {
		todoList.todos.push({text:todoList.todoText, done:false});
		todoList.todoText = '';
	}

	todoList.archive = function() {
		var oldTodos = todoList.todos;
		todoList.todos = [];
		angular.forEach(oldTodos, function(todo) {
			if (!todo.done) todoList.todos.push(todo);
		})
	}
})
</script>
</html>